[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=2.0.0"
django-rest-framework = "*"
hashids = "*"
django-rest-swagger = "*"
"psycopg2" = "*"
django-cors-headers = "*"

[dev-packages]
django-extensions = "*"
Werkzeug = "*"
e1839a8 = {path = ".",editable = true}
ipython = "*"

[requires]
python_version = "3.6"
