[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<5"
psycopg2 = "==2.8.6"
django-cors-headers = "<4.0"
gunicorn = "<21.0"
whitenoise = "<6.0"
django-sendgrid-v5 = "<1.0"
pyyaml = "<6.0"
burl = {editable = true, path = "."}
django-burl = {editable = true, path = "/Users/wryfi/src/gitlab.com/wryfi/django-burl"}

[dev-packages]
django-extensions = "*"
Werkzeug = "*"
ipython = "*"
pbr = "*"
burl = {editable = true, path = "."}
twine = "*"

[requires]
python_version = "3.9"
