{% extends "core/__base.html" %}

{% block body %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui black image header">
      <div class="content">
        change password
      </div>
    </h2>
    {% if form.errors %}
    <div class="ui icon error message">
      <i class="exclamation triangle icon"></i>
      <div class="content">
        <div class="header">Validation Errors</div>
            {{ form.errors }}
            {{ form.non_field_errors }}
      </div>
    </div>
    {% endif %}
    <form method="post" class="ui large form">
      {% csrf_token %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" id="id_old_password" name="old_password" placeholder="current password">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="key icon"></i>
            <input type="password" id="id_new_password1" name="new_password1" placeholder="new password">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" id="id_new_password1" name="new_password2" placeholder="confirm">
          </div>
        </div>
        <button class="ui black button" type="submit">Set</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}